extends layout

block content
  script(src="/controllers/home.js")

  .container.theme-showcase(ng-controller='home')
    
    if(error)
      .alert.alert-danger.alert-dismissable
        button.close(type='button', data-dismiss='alert', aria-hidden='true') ×
        strong Error!
        |  #{error}

    .jumbotron
      h1 Bienvenido, #{user}!
      p
        | This is a template for a simple marketing or informational website. It includes a large callout called a jumbotron and three supporting pieces of content. Use it as a starting point to create something more unique.
      p
        a.btn.btn-primary.btn-lg(href='#', role='button') Learn more »
    
