doctype 5
html
  head
    meta(charset="utf-8")
    meta(name="description", content="")
    meta(name="viewport", content="width=device-width")
    title
      | Render
    link(rel='stylesheet', href='/javascripts/bootstrap/css/bootstrap.css')
    link(rel='stylesheet', href='/javascripts/bootstrap/css/bootstrap-theme.css')
    link(rel='stylesheet', href='/stylesheets/style.css')

    script(src='/javascripts/jquery/js/jquery.js')
    script(src='/javascripts/bootstrap/js/bootstrap.js')
    script(src='/javascripts/angular/js/angular.js')
    script(src='/javascripts/app.js')

  body(ng-app='render')
    include partials/navbar-top.jade
    .bodyContainer
      block content
    include partials/navbar-bottom.jade
    

